
* {
  border: thin solid red;
}

body {
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}

/* #iframe {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 938089;
  border-top: thin solid #979797;
  background-color: #F2F2F2;
} */

.bottomBar {
  /* height: 80px; */
  display: inline-block;
}

.placeholderStats {
  height: 60px;
  width: 300px;
  display: inline-block;
}

.banner1, .banner2 {
  height: 60px;
  width: 468px;
  display: inline-block;
}

.gapBetweenBanners {
  width: 20px;
  height: 60px;
  display: inline-block;
  border-color: blue;
}
/*
.arbol_hide {
  display: none;
} */
