/* style file will style the both the iframe created in main.js
 * as well as the toolbar.html itself, which sits in the iframe.
 */

* {
  /* border: thin solid red; */
}

body {
  /* overflow: hidden; */
  height: 80px;
  margin: 0px;
  padding: 0px;
}

#iframe {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 938089;
  border-top: thin solid #979797;
  background-color: #F2F2F2;
}

.placeholderStats {
  height: 80px;
  width: 298px;
  display: inline-block;
}

.banner1, .banner2 {
  height: 60px;
  width: 468px;
  display: inline-block;
}

.arbol_hide {
  display: none;
}
